$grid-primary: 8px;
$grid-secondary: 16px;
$radius-primary: 24px;

// colors
$blue-primary: #00aeff;
$blue-opacity-primary: rgba(0, 174, 255, 0.3);
$yellow-primary: #ffcc66;
$yellow-opacity-primary: rgba(255, 204, 102, 0.3);