@import '../../variables';

.paginator {
    width: 100%;
    display: flex;
    justify-content: center;

    &__content {
        display: flex;
        align-items: center;  
        width: 50%;
        padding: $grid-secondary 0;
        @media (max-width: 480px) {
            width: 100%;
            padding: $grid-secondary $grid-primary;
        }
    }

    &__elements {
        display: flex;
    }

    &__item {
        padding: $grid-primary $grid-secondary;
        border-radius: $radius-primary;
        border: 4px solid $blue-primary;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 $grid-primary;
    }

    &__chevron {
        border: 4px solid $blue-primary;
        font-weight: bold;
        border-radius: 50%;
        padding: $grid-primary;
    }
}